/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer{
    background-color: #2f2e41;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    &__nav{
    	a{
    		text-decoration: none;
    		&:not(:last-child){
				margin-right: 10px;
			}
    	}
    }
    &__link{
		color: #fff;
	    font-size: 1.2rem;
    }
    &__license{
	    color: #555;
	    font-size: 1rem;
    }
    &__copyright{
		color: #fff;
		font-size: 1rem;
		small{
			font-size: 80%;
		}
    }
}
/*
------------------------------------------------------------*/
