/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-header{
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    @include sp{
    	padding: 0 20px;
    	background-color: hsla(0,0%,100%,.5);
    }
    &__logo{
    	width: 100px;
    	@include sp{
    		width: 80px;
    	}
    }
    &__link{
		width: 180px;
		height: 40px;
		font-size: 1.25rem;
		letter-spacing: .5px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		background: linear-gradient(136.9deg,#00a09b 3.1%,#00b383 95.27%);
		box-shadow: 0 4px 14px rgba(0,160,155,.25);
		border-radius: 100px;
		position: relative;
		padding-right: 13px;
		text-decoration: none;
		font-weight: bold;
		@include sp{
			width: 120px;
			font-size: 1rem;
			height: 35px;
		}
		&:after{
			content: "";
			position: absolute;
			right: 35px;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 16px;
			height: 16px;
			margin-top: -1.5px;
			background: url("/assets/img/common/mail.svg") no-repeat 50%;
			background-size: contain;
			@include sp{
				right: 16px;
			}
		}
		&:hover{
			opacity: 1;
		}
    }
}
/*
------------------------------------------------------------*/
