/*------------------------------------------------------------
layout
------------------------------------------------------------*/
body{
	min-height: 100%;	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.6;
	color: #292929;
	background-color: #f6f6f6;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	background: url("/assets/img/common/body_bg.svg") no-repeat 0 0;
	background-size: cover;
	font-family: "\6E38\30B4\30B7\30C3\30AF\4F53",Yu Gothic,-apple-system,BlinkMacSystemFont,Helvetica Neue,"\30D2\30E9\30AE\30CE\89D2\30B4 ProN W3",Hiragino Kaku Gothic ProN,Arial,"\30E1\30A4\30EA\30AA",Meiryo,sans-serif;
	-webkit-font-feature-settings: "palt";
	font-feature-settings: "palt";
	line-height: 1.6;
	font-weight: 600;
	@include sp{
		background: url("/assets/img/common/body_bg_sp.svg") no-repeat 0 0;
		background-size: cover;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	&::-webkit-scrollbar-track{
		-webkit-box-shadow: none;
		border-radius: 0;
		background-color: transparent;
	}
	&::-webkit-scrollbar{
		width: 0;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb{
		border-radius: 0;
		-webkit-box-shadow: none;
		background-color: transparent;
	}
	&.is-overflow{
		overflow: hidden;
	}
}
/*
------------------------------------------------------------*/
.l-container{
	width: 1040px;
	margin: 0 auto;
	@include sp{
		width: 100%;
	}
}

@keyframes wave{
	0%{
		margin-left: 0;
	}
	to{
		margin-left: -1600px;
	}
}

/* Loader
------------------------------------------------------------*/
.l-loader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #F3F3F3;
	z-index: 999999;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	&__text{
		text-align: center;
	}
	&__txtEN{
		font-size: 6rem;
		font-family: Montserrat,sans-serif;
		line-height: 1;
		margin-bottom: 15px;
		font-weight: 800;
		text-transform: uppercase;
		animation: loader01 3s forwards;
		animation-delay: 0.5s;
		opacity: 0;
	}
	&__txtJA{
		font-size: 2rem;
		line-height: 1;
		animation: loader01 3s forwards;
		animation-delay: 0.6s;
		opacity: 0;
	}
	&__img{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		animation: loader02 3s forwards;
		animation-delay: 0.6s;
		img{
			max-width: 1280px;
		}
	}
}

@keyframes loader01 {
    0%{
    	opacity: 0;
    	transform: matrix(1, 0, 0, 1, 0, 10);
    	filter: blur(4px);
    }
    25%{
    	opacity: 1;
    	transform: matrix(1, 0, 0, 1, 0, 0);
    	filter: blur(0px);
    }
    75%{
    	opacity: 1;
    	transform: matrix(1, 0, 0, 1, 0, 0);
    	filter: blur(0px);
    }
    100%{
    	opacity: 0;
    	transform: matrix(1, 0, 0, 1, 0, -10);
    	filter: blur(4px);
    }
}
@keyframes loader02 {
    0%{
    	opacity: 1;
    }
    25%{
    	opacity: 1;
    }
    75%{
    	opacity: 1;
    }
    100%{
    	opacity: 0;
    }
}

.js-title{
	opacity: 0;
    transform: translate3d(0,8px,0);
    &.is-view{
    	animation: view-title 1s forwards;
    	animation-delay: 0.3s;
    }
}

.js-fade{
	opacity: 0;
    transform: translate3d(0,8px,0);
    &.is-view{
    	animation: view-fade 1s forwards;
    	animation-delay: 0.3s;
    }
}

@keyframes view-title {
    0%{
    	opacity: 0;
	    transform: translate3d(0,8px,0);
	    filter: blur(4px);
    }
    100%{
    	opacity: 1;
	    transform: translate3d(0,0,0);
	    filter: blur(0px);
    }
}

@keyframes view-fade {
    0%{
    	opacity: 0;
	    transform: translate3d(0,8px,0);
    }
    100%{
    	opacity: 1;
	    transform: translate3d(0,0,0);
    }
}