/*------------------------------------------------------------
btn
------------------------------------------------------------*/
.c-btn01{
	text-align: center;
    background: linear-gradient(136.9deg,#00a09b 3.1%,#00b383 95.27%);
    box-shadow: 20px 20px 30px rgba(0,160,155,.25);
    width: 100%;
    max-width: 800px;
    margin: 0 auto 150px;
    padding: 50px;
    border-radius: 200px;
    display: block;
    cursor: pointer;
    transition: all .4s ease;
    @include sp{
		padding: 20px;
		width: 90%;
		margin-bottom: 60px;
		border-radius: 5px;
    }
    a{
    	display: block;
    	text-decoration: none;
    }
	&__en{
		display: block;
	    font-family: Montserrat,sans-serif;
	    font-weight: 600;
	    letter-spacing: 1px;
	    font-size: 5rem;
	    color: #fff;
	    line-height: 1;
	    margin-bottom: 5px;
	    @include sp{
	    	font-size: 3rem;
    		margin-bottom: 3px;
	    }
	}
	&__ja{
		display: block;
		font-size: 1.2rem;
	    line-height: 2;
	    color: #fff;
	    letter-spacing: 1px;
	    @include sp{
			font-size: 1.2rem;
			line-height: 2;
			color: #fff;
			letter-spacing: 1px;
	    }
	}
	&:hover{
		box-shadow: 0 15px 20px rgba(46,229,157,.4);
		transform: translate3d(0,-7px,0);
		opacity: .8;
		a{
			opacity: 1;
		}
	}
}
/*
------------------------------------------------------------*/
