/*------------------------------------------------------------
title
------------------------------------------------------------*/
.c-title01{
	&--center{
		text-align: center;
	}
	&__en{
		font-family: Montserrat,sans-serif;
		letter-spacing: 1px;
		font-size: 1.6rem;
		font-weight: 800;
		line-height: 1;
		margin-bottom: 10px;
		display: inline-block;
		position: relative;
		padding-left: 40px;
		@include sp{
			font-size: 3.533vw;
			margin-bottom: 7px;
			padding-left: 32px;
		}
		&:before,
		&:after{
			content: "";
			position: absolute;
			top: 50%;
		}
		&:before{
			width: 22px;
			height: 22px;
			left: 0;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			background: url("/assets/img/common/icon01.svg") no-repeat 50%;
			background-size: cover;
			margin-top: -2px;
			@include sp{
				width: 18px;
				height: 18px;
			}
		}
		&:after{
			width: 20px;
			height: 1px;
			background: #0382ff;
			left: 10px;
			@include sp{
				width: 16px;
			}
		}
	}
	&__txt{
		font-size: 3.2rem;
		letter-spacing: 1px;
		font-weight: 700;
		line-height: 1;
		@include sp{
			font-size: 4.933vw;
		}
		span{
			text-transform: uppercase;
			font-family: Montserrat,sans-serif;
		}
	}
}

/*
------------------------------------------------------------*/
.c-title02{
	&__number{
		position: relative;
		padding-left: 40px;
		line-height: 1;
		margin-bottom: 23px;
		display: block;
		font-weight: 700;
		font-size: 3rem;
		font-family: Montserrat,sans-serif;
		@include sp{
			font-size: 2rem;
    		padding-left: 30px;
		}
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			height: 1px;
			width: 30px;
			@include sp{
				width: 20px;
			}
		}
		&--blue{
			color: #0382ff;
			&:before{
				background-color: #0382ff;
			}
		}
		&--yellow{
			color: #ffbc00;
			&:before{
				background-color: #ffbc00;
			}
		}
		&--green{
			color: #00a09b;
			&:before{
				background-color: #00a09b;
			}
		}
	}
	&__en{
		display: block;
		font-size: 1.2rem;
		margin-bottom: 8px;
		line-height: 1;
		letter-spacing: 1px;
		font-family: Montserrat,sans-serif;
		@include sp{
			font-size: 1rem;
		}
	}
	&__ja{
		font-size: 3rem;
		font-weight: 700;
		margin-bottom: 30px;
		letter-spacing: 1.6px;
		display: block;
		line-height: 1;
		@include sp{
			font-size: 5.93333vw;
    		margin-bottom: 25px;
		}
	}
}