/*------------------------------------------------------------
form
------------------------------------------------------------*/
.c-form{
	border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
    padding: 60px;
    @include sp{
    	padding: 0 20px 40px;
    	margin-top: 40px;
    }
    &__row{
		display: flex;
		justify-content: space-between;
		@include sp{
			display: block;
		}
		&:not(:last-child){
			margin-bottom: 25px;
		}
		&--textarea{
			display: block;
		}
    }
    &__item{
    	width: calc(50% - 10px);
    	@include sp{
    		width: 100%;
    	}
    	&:not(:last-child){
			@include sp{
				margin-bottom: 25px;
			}
		}
    }
    &__label{
    	font-size: 1.2rem;
	    color: #fff;
	    margin-bottom: 8px;
	    display: inline-block;
	    abbr{
		    border-bottom: none;
		    text-decoration: underline dotted;
	    }
    }
    &__input{
		width: calc(100% - 30px);
		background-color: rgba(0,0,0,.2);
		padding: 15px;
		font-size: 1.4rem;
		color: #fff;
		border-radius: 5px;
		appearance: none;
		border: 0;
		@include sp{
			width: calc(100% - 20px);
			font-size: 1.6rem;
			padding: 10px;
		}
		&--select{
			width: 100%;
		}
		&--textarea{
			width: 100%;
			height: 200px;
			resize: none;
			@include sp{
				height: 150px;
			}
		}
    }
    &__btn{
    	display: flex;
	    justify-content: center;
	    align-items: center;
	    margin: 40px 0;	
	    @include sp{
	    	margin: 40px 0 0;
	    }   
    }
    &__submit{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 250px;
	    height: 50px;
	    color: #fff;
	    font-size: 1.4rem;
	    font-weight: 600;
	    border-radius: 5px;
	    background-color: #ffbc00;
	    cursor: pointer;
	    transition: all .4s ease;
	    @include sp{
	    	width: 100%;
	    }
	    &:hover{
	    	transform: translate3d(0,-5px,0);
	    }
    }
}
/*
------------------------------------------------------------*/
