/*------------------------------------------------------------
list
------------------------------------------------------------*/
.c-list01{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 60px 0 0;
	@include sp{
		display: block;
		padding: 0 20px;
		margin: 40px 0 0;
	}
	&__item{
		background-color: #fff;
		box-shadow: 20px 20px 30px rgba(45,52,106,.1);
		padding: 60px 30px;
		text-align: center;
		width: calc(33.33333% - 30px);
		border-radius: 20px;
		@include sp{
			width: 100%;
		    padding: 40px 30px;
		    border-radius: 10px;
		}
		&:not(:last-child){
			@include sp{
				margin-bottom: 30px;
			}
		}
	}
	&__ttlEN{
		font-size: 1.8rem;
	    font-family: Montserrat,sans-serif;
	    font-weight: 700;
	    letter-spacing: 1px;
	    line-height: 1;
	    margin-bottom: 25px;
	    position: relative;
	    padding-left: 35px;
	    display: inline-block;
	    @include sp{
	    	font-size: 1.4rem;
    		margin-bottom: 20px;
	    }
	    &:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
	    }
	    &--icon01{
	    	&:before{
	    		background: url("/assets/img/common/icon02.svg") no-repeat 50%;
			    background-size: contain;
			    width: 27px;
			    height: 25px;
			    @include sp{
					width: 24px;
					height: 22px;
			    }
	    	}
	    }
	    &--icon02{
	    	&:before{
	    		background: url("/assets/img/common/icon03.svg") no-repeat 50%;
			    background-size: contain;
				width: 34px;
			    height: 34px;
			    @include sp{
					width: 31px;
					height: 31px;
			    }
	    	}
	    }
	    &--icon03{
	    	&:before{
	    		background: url("/assets/img/common/icon04.svg") no-repeat 50%;
			    background-size: contain;
			    width: 30px;
			    height: 30px;
			    @include sp{
					width: 28px;
					height: 28px;
			    }
	    	}
	    }
	}
	&__ttlJA{
		font-size: 2rem;
	    line-height: 1.5;
	    font-weight: 600;
	    margin-bottom: 25px;
	    @include sp{
			font-size: 1.8rem;
			margin-bottom: 20px;
			letter-spacing: 1px;
	    }
	}
	&__txt{
		font-size: 1.2rem;
	    line-height: 2;
	    letter-spacing: .5px;
	    text-align: left;
	    @include sp{
			font-weight: 500;
			line-height: 1.9;
	    }
	}
}

/* c-list02
------------------------------------------------------------*/
.c-list02{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include sp{
    	display: block;
    }
    &__item{
		background-color: #fff;
		box-shadow: 20px 20px 30px rgba(45,52,106,.1);
		border-radius: 20px;
		width: calc(50% - 30px);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 60px;
		min-inline-size: 280px;
		position: relative;
		@include sp{
			width: 100%;
			padding: 40px 30px 60px;
			border-radius: 10px;
			min-height: 300px;
		}
		&:not(:last-child){
			@include sp{
				margin-bottom: 30px;
			}
		}
    }
    &__ttl{
    	font-size: 2.4rem;
	    font-weight: 700;
	    font-family: Montserrat,sans-serif;
	    letter-spacing: 1.3px;
	    margin-bottom: 40px;
	    line-height: 1;
	    text-transform: uppercase;
	    @include sp{
	    	font-size: 2rem;
    		margin-bottom: 30px;
	    }
    }
    &__cate{
    	display: flex;
	    flex-wrap: wrap;
	    margin-bottom: 30px;
	    @include sp{
	    	margin-bottom: 10px;
	    }
	    li{
			margin: 0 10px 10px 0;
			background: linear-gradient(136.9deg,#00a09b 3.1%,#00b383 95.27%);
			color: #fff;
			font-weight: 700;
			letter-spacing: .5px;
			border-radius: 100px;
			font-size: 1rem;
			padding: 7px 22px;
			text-align: center;
			min-height: 25px;
			box-shadow: 0 4px 14px rgba(0,160,155,.25);
			text-transform: uppercase;
	    }
    }
    &__txt{
    	text-align: left;
	    font-size: 1.4rem;
	    line-height: 1.8;
	    letter-spacing: .5px;
	    @include sp{
	    	font-size: 1.2rem;
	    }
    }
    &__quote{
		position: absolute;
		right: 25px;
		bottom: 25px;
		display: flex;
		align-items: center;
		@include sp{
			right: 15px;
			bottom: 15px;
		}
		li{
			position: relative;
			font-size: 1.4rem;
			letter-spacing: .5px;
			font-weight: 600;
			color: #e3535d;
			@include sp{
				font-size: 1rem;
			}
			&:not(:last-child){
				margin-right: 35px;
			}
			&:before{
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 16px;
				height: 16px;
			}
			&:nth-of-type(1){
				&:before{
					left: -22px;
					background: url("/assets/img/common/icon05_red.svg") no-repeat 50%;
					background-size: contain;
				}
			}
			&:nth-of-type(2){
				&:before{
					left: -20px;
					background: url("/assets/img/common/icon06_red.svg") no-repeat 50%;
					background-size: contain;
				}
			}
		}
    }
}