/*------------------------------------------------------------
other
------------------------------------------------------------*/

/* Mainvisual
------------------------------------------------------------*/
.c-mv{
	position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sp{
		flex-direction: column;
		align-items: flex-start;
		padding: 20vh 30px 0;
		height: 80vh;
		margin-bottom: 20vh;
    }
    &__head{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		@include sp{
			height: 40%;
		}
		img{
			height: 100%;
		}
    }
    &__obj{
    	position: absolute;
	    bottom: -30px;
	    left: 0;
	    width: 230px;
	    height: 230px;
	    @include sp{
			width: 20%;
			height: auto;
			bottom: -20%;
	    }
	    img{
	    	height: 100%;
	    	object-fit: contain;
	    }
    }
    &__text{
    	padding-left: 10%;
    	width: 55%;
    	@include sp{
    		width: auto;
    		padding-left: 0;
    		margin-bottom: 10px;
    	}
    }
    &__ttl{
		font-family: Montserrat,sans-serif;
		font-size: 3.5vw;
		line-height: 1.2;
		letter-spacing: 5.5px;
		font-weight: 900;
		margin-bottom: 30px;
		position: relative;
		text-transform: uppercase;
		@include sp{
			font-size: 6.333vw;
		    letter-spacing: 3px;
		    margin-bottom: 10px;
		}
		&:before{
			content: "";
			background: url("/assets/img/common/mv_img03.svg") no-repeat 50%;
			background-size: contain;
			width: 95px;
			height: 80px;
			position: absolute;
			left: -45px;
			top: -45px;
			@include sp{
				width: 75px;
				height: 60px;
				left: -35px;
				top: -35px;
			}
		}
    }
    &__txt{
    	font-size: 2rem;
	    letter-spacing: 1.2px;
	    font-weight: 600;
	    @include sp{
	    	font-size: 3.4vw;
	    }
    }
    &__ani{
    	width: 45%;
    	@include sp{
    		width: auto;
    	}
    }
    &__animation{
		min-width: 650px;
		max-width: 75%;
		margin: 0 auto;
		pointer-events: none;
		@include sp{
			width: 100%;
		    padding: 0 8%;
		    max-width: 100%;
		    min-width: 0;
		}
    }
}

/* Slider
------------------------------------------------------------*/
.c-slider{
	width: 1040px;
	min-height: 266px;
	margin: 0 auto 30px;
	position: relative;
	@include sp{
		width: 100%;
		min-height: 295px;
		margin: 0 auto 40px;
	}
	&__box{
		max-width: 780px;
		@include sp{
			max-width: calc(90% - 40px);
			margin: 0 auto;
		}		
	}
	&__item{
		background-color: #fff;
		width: 720px;
		border-radius: 5px;
		box-shadow: 20px 20px 30px rgba(45,52,106,.1);
		opacity: .3;
		-webkit-transition: opacity .5s;
		transition: opacity .5s;
		display: flex;
		align-items: center;
		padding: 40px;
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		position: relative;
		min-height: 253px;
		margin-right: 60px;
		float: left;
		@include sp{
			width: 100%;
			max-width: 720px;
			margin-right: 10px;
			min-height: 295px;
			padding: 30px;
		}
		&.slick-active{
			opacity: 1;
		}
	}
	&__text{
		width: 70%;
		@include sp{
			width: auto;
		}
	}
	&__ttl{
		font-size: 2.4rem;
		letter-spacing: 1px;
		margin-bottom: 40px;
		font-weight: 600;
		position: relative;
		@include sp{
			font-size: 1.6rem;
		}
		&:after{
			content: "";
			position: absolute;
			bottom: -20px;
			left: 0;
			width: 40px;
			height: 2px;
			background-color: #00a09b;
		}
	}
	&__txt{
		letter-spacing: .5px;
	    line-height: 2.3;
	    font-size: 1.2rem;
	    @include sp{
			line-height: 2;
			letter-spacing: .5px;
			font-weight: 500;
	    }
	}
	&__icon{
		display: block;
		position: absolute;
		bottom: 0;
		opacity: .3;
		height: 150px;
		width: 190px;
		right: 5px;
		-webkit-transform: scale(1.8);
		transform: scale(1.8);
		@include sp{
			opacity: 0.1;
		}
		&--01{
			background: url("/assets/img/common/slider_icon01.svg") no-repeat 50%;
			background-size: contain;
		}
		&--02{
			background: url("/assets/img/common/slider_icon02.svg") no-repeat 50%;
			background-size: contain;
		}
		&--03{
			background: url("/assets/img/common/slider_icon03.svg") no-repeat 50%;
			background-size: contain;
		}
	}
	&__arrow{
		width: 40px;
	    height: 40px;
	    cursor: pointer;
	    z-index: 1;
	    -webkit-transition: opacity .2s;
	    transition: opacity .2s;
	    position: absolute;
	    top: calc(50% - 20px);
	}
	&__prev{
		background: url("/assets/img/common/slider_prev.svg") no-repeat 50%;
	    background-size: cover;
	    left: -8%;
	    @include sp{
	    	left: 2%;
	    }
	}
	&__next{
		background: url("/assets/img/common/slider_next.svg") no-repeat 50%;
	    background-size: cover;
	    right: 23%;
	    @include sp{
	    	right: 3.4%;
	    }
	}
}

/* Block
------------------------------------------------------------*/
.c-block{
	position: relative;
	&:nth-child(odd){
		.c-block__item{
			&:nth-of-type(1){
				top: -80px;
				left: 20px;
				margin-left: 120px;
				@include sp{
					top: auto;
					left: auto;
					margin: 0 auto -70px;
				}
			}
			&:nth-of-type(2){
				margin-left: auto;
				border-radius: 40px 0 0 40px;
				@include sp{
    				border-radius: 10px;
				}
			}
		}
	}
	&:nth-child(even){
		.c-block__item{
			&:nth-of-type(1){
			    top: 130px;
			    right: 20px;
			    margin-right: 120px;
			    @include sp{
			    	top: auto;
					right: auto;
			    	margin: 0 auto -70px;
			    }
			}
			&:nth-of-type(2){
				margin-right: auto;
				border-radius: 0 40px 40px 0;
				@include sp{
					border-radius: 10px;
				}
			}
		}
	}
	&--area01{
		margin-bottom: 60px;
		&:before{
			content: "";
			position: absolute;
			top: 20%;
			left: 0;
			background: url("/assets/img/common/block_bg01.svg") no-repeat 0 0;
			background-size: contain;
			width: 100%;
			height: 100%;
			-webkit-transform: scale(1.15);
			transform: scale(1.15);
			z-index: -1;
			@include sp{
				transform: scale(1);
				top: 0;
			}
		}
		&:after{
			content: "";
			position: absolute;
			top: -200px;
			left: 0;
			background: url("/assets/img/common/block_bg02.svg") no-repeat 0 0;
			background-size: contain;
			width: 240px;
			height: 240px;
			z-index: -1;
			@include sp{
				width: 150px;
				height: 150px;
			}
		}
	}
	&--area02{
		margin-bottom: 180px;
		@include sp{
			margin-bottom: 60px;
		}
		&:after{
			position: absolute;
			top: -40%;
			right: 0;
			width: 40%;
			height: 100%;
			content: "";
			background: url("/assets/img/common/block_bg03.svg") no-repeat 50%;
			background-size: contain;
			z-index: -1;
		}
	}
	&--area03{
		&:before{
			content: "";
			position: absolute;
			top: -50%;
			right: -20%;
			background: url("/assets/img/common/block_bg04.svg") no-repeat 0 0;
			background-size: contain;
			width: 1000px;
			height: 600px;
			transform: scale(1.2);
			z-index: -1;
		}
	}
	&__item{
		background-color: #fff;
		box-shadow: 20px 20px 30px rgba(45,52,106,.1);
		border-radius: 40px;
		@include sp{
			border-radius: 10px;
		}
		&:nth-of-type(1){
			width: calc(40% - 60px);
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 40px;
			position: absolute;
			@include sp{
				width: 90%;
				position: relative;
				padding: 20px;
			}
		}
		&:nth-of-type(2){
			width: 60%;
			padding: 100px 80px 100px 140px;
			min-height: 500px;
			@include sp{
				width: 100%;
				min-height: 0;
				padding: 100px 30px 40px;
			}
		}
	}
	&__animation{
		pointer-events: none;
		max-width: 350px;
		margin: 0 auto;
		min-height: 400px;
		display: flex;
		align-items: center;
		@include sp{
			max-width: 70%;
			min-height: 0;
		}
		img{
			height: 100%;
		}
	}
	&__txt{
		font-size: 1.4rem;
	    letter-spacing: .5px;
	    line-height: 2;
	    @include sp{
			font-size: 1.2rem;
			font-weight: 500;
			line-height: 1.9;
	    }
	    strong{
	    	font-size: 1.8rem;
	    }
	}
}

/* Tabs
------------------------------------------------------------*/
.c-tabs{
	margin-top: 60px;
	@include sp{
		margin-top: 40px;
		padding: 0 20px;
	}
	&__navi{
		margin-bottom: 60px;
	    display: flex;
	    justify-content: center;
	    @include sp{
		    margin-bottom: 40px;
	    }
	    li{
			transition: 0.3s;
			opacity: 0.4;
			transform: scale(.99);
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 230px;
			height: 60px;
			box-shadow: 20px 20px 30px rgba(45,52,106,.1);
			font-size: 1.4rem;
			letter-spacing: 1px;
			font-weight: 600;
			border-radius: 3px;
			cursor: pointer;
			@include sp{
    			width: calc(100%/3 - 13.333333px);
				min-width: auto;
				font-size: 1.2rem;
				height: 55px;
			}
			&:not(:last-child){
				margin-right: 50px;
				@include sp{
					margin-right: 20px;
				}
			}
			&.is-active{
				opacity: 1;
				transform: scale(1);
				background: linear-gradient(136.9deg,#00a09b 3.1%,#00b383 95.27%);
				color: #fff;
			}
	    }
	}
	&__cont{
		display: none;
		&.is-active{
			display: block;
		}
	}
	&__txt{
		max-width: 700px;
		margin: 0 auto 60px;
		text-align: center;
		font-size: 1.4rem;
		line-height: 1.8;
		letter-spacing: .5px;
		@include sp{
			margin-bottom: 40px;
			font-size: 1.2rem;
    		font-weight: 500;
		}
	}
	&__quote{
		display: flex;
		margin-bottom: 20px;
		justify-content: flex-end;
		@include sp{
			margin-bottom: 15px;
		}
		li{
			font-size: 1.4rem;
		    letter-spacing: 1px;
		    position: relative;
		    @include sp{
		    	font-size: 1.2rem;
		    }
		    &:not(:last-child){
				margin-right: 40px;
			}
			&:before{
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 16px;
				height: 16px;
			}
			&:nth-of-type(1){
				&:before{
					left: -24px;
					background: url("/assets/img/common/icon05.svg") no-repeat 50%;
					background-size: contain;
				}
			}
			&:nth-of-type(2){
				&:before{
					left: -22px;
					background: url("/assets/img/common/icon06.svg") no-repeat 50%;
					background-size: contain;
				}
			}
		}
	}
}

/* Contact
------------------------------------------------------------*/
.c-contact{
	position: relative;
    margin-top: 100px;
    padding-top: 100px;
    background-color: #2f2e41;
    @include sp{
    	margin-top: 0;
    }
    &__wave{
		height: 5%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
    	&Item{
			background: url("/assets/img/common/wave01.svg") repeat-x;
			position: absolute;
			top: -198px;
			width: 6400px;
			height: 198px;
			animation: wave 10s cubic-bezier(.36,.45,.63,.53) infinite;
			transform: translateZ(0);
			&:nth-of-type(1){
				z-index: 1;
			}
			&:nth-of-type(2){
				z-index: 0;
				top: -220px;
				background: url("/assets/img/common/wave02.svg") repeat-x;
				animation: wave 10s cubic-bezier(.36,.45,.63,.53) -.155s infinite,swell 13s ease -1.25s infinite;
				opacity: 1;
			}
    	}
    }
    &__text{
		text-align: center;
		color: #fff;
		padding: 30px 0 0;
    }
    &__ttl{
		font-size: 3rem;
	    font-weight: 600;
	    letter-spacing: .5px;
	    line-height: 1;
	    margin-bottom: 40px;
	    position: relative;
	    @include sp{
	    	font-size: 2rem;
	    }
	    &:after{
			content: "";
			position: absolute;
			bottom: -25px;
			left: 50%;
			transform: translateX(-50%);
			width: 40px;
			height: 1px;
			background-color: #fff;
			@include sp{
				bottom: -20px;
			}
	    }
    }
    &__txt{
	    font-size: 1.2rem;
	    line-height: 2;
	    letter-spacing: .5px;
	    @include sp{
	    	font-size: 1rem;
	    }
    }
}

/* Animation01
------------------------------------------------------------*/
.c-animation01{
	position: relative;
	&__inner01,
	&__inner02{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		li{
			position: absolute;
			top: 0;
			left: 0;						
		}
	}
	&__inner01{
		li{
			animation: scale 4s infinite;
			&:nth-of-type(1){
				width: 6.5%;
				left: 15%;
				top: 1%;
			}
			&:nth-of-type(2){
				left: 70%;
				top: 9%;
				width: 14%;
				animation-delay: 0.2s;
			}
		}
	}
	&__inner02{
		li{
			animation: chart 4s infinite;
			&:nth-of-type(1){
				z-index: 3;
			}
			&:nth-of-type(2){
				z-index: 2;
				animation-delay: 0.2s;
			}
			&:nth-of-type(3){
				z-index: 1;
				animation-delay: 0.4s;
			}
		}
	}
	&__inner03{
		background: rgba(0,159,155,.8);
	    width: 23%;
	    height: 17%;
	    border-radius: 5px;
	    position: absolute;
	    left: 17.6%;
	    top: 12.8%;
	    z-index: 2;
	    transform: skewY(30deg);
	    animation: fade-ani01 4s infinite;
	    span{
	    	display: block;
	    	background: #FFF;
	    	width: 3px;
	    	max-height: 0%;
	    	position: absolute;
	    	&:not(:first-child){
				bottom: 9%;	
				animation: maxheight 4s infinite;			
			}
	    	&:nth-of-type(1){
			    width: 11px;
			    height: 7px;
			    max-width: 100%;
			    max-height: 100%;
			    top: 9%;
			    left: 4%;
			    animation: maxwidth-height 4s infinite;
	    	}
	    	&:nth-of-type(2){
				height: 70px;
			    left: 9.3%;
			    @include sp{
			    	height: 45px;
			    }
	    	}
	    	&:nth-of-type(3){
			    height: 61px;
			    left: 14.3%;
			    animation-delay: 0.03s;
			    @include sp{
			    	height: 36px;
			    }
	    	}
	    	&:nth-of-type(4){
			    height: 83px;
			    left: 19.3%;
			    animation-delay: 0.06s;
			    @include sp{
			    	height: 60px;
			    }
	    	}
	    	&:nth-of-type(5){
			    height: 74px;
			    left: 24.3%;
			    animation-delay: 0.09s;
			    @include sp{
			    	height: 49px;
			    }
	    	}
	    	&:nth-of-type(6){
			    height: 57px;
			    left: 29.3%;
			    animation-delay: 0.12s;
			    @include sp{
			    	height: 33px;
			    }
	    	}
	    	&:nth-of-type(7){
			    height: 84px;
			    left: 34.3%;
			    animation-delay: 0.15s;
			    @include sp{
			    	height: 61px;
			    }
	    	}
	    	&:nth-of-type(8){
			    height: 69px;
			    left: 39.3%;
			    animation-delay: 0.18s;
			    @include sp{
			    	height: 44px;
			    }
	    	}
	    	&:nth-of-type(9){
			    height: 81px;
			    left: 44.3%;
			    animation-delay: 0.21s;
			    @include sp{
			    	height: 56px;
			    }
	    	}
	    	&:nth-of-type(10){
			    height: 61px;
			    left: 49.3%;
			    animation-delay: 0.24s;
			    @include sp{
			    	height: 36px;
			    }
	    	}
	    	&:nth-of-type(11){
			    height: 84px;
			    left: 54.3%;
			    animation-delay: 0.27s;
			    @include sp{
			    	height: 59px;
			    }
	    	}
	    	&:nth-of-type(12){
			    height: 77px;
			    left: 59.3%;
			    animation-delay: 0.3s;
			    @include sp{
			    	height: 52px;
			    }
	    	}
	    	&:nth-of-type(13){
			    height: 60px;
			    left: 64.3%;
			    animation-delay: 0.33s;
			    @include sp{
			    	height: 35px;
			    }
	    	}
	    	&:nth-of-type(14){
			    height: 64px;
			    left: 69.3%;
			    animation-delay: 0.36s;
			    @include sp{
			    	height: 39px;
			    }
	    	}
	    	&:nth-of-type(15){
			    height: 42px;
			    left: 74.3%;
			    animation-delay: 0.39s;
			    @include sp{
			    	height: 17px;
			    }
	    	}
	    	&:nth-of-type(16){
			    height: 32px;
			    left: 79.3%;
			    animation-delay: 0.42s;
			    @include sp{
			    	height: 12px;
			    }
	    	}
	    	&:nth-of-type(17){
			    height: 24px;
			    left: 84.3%;
			    animation-delay: 0.45s;
			    @include sp{
			    	height: 7px;
			    }
	    	}
	    	&:nth-of-type(18){
			    height: 39px;
			    left: 89.3%;
			    animation-delay: 0.48s;
			    @include sp{
			    	height: 15px;
			    }
	    	}
	    }
	}
	&__inner04{
	    background: rgba(13,117,190,.8);
	    width: 28.5%;
	    height: 13.5%;
	    position: absolute;
	    left: 52%;
	    top: 43.5%;
	    transform: skewY(30deg);
	    animation: fade-ani01 4s infinite;
	    span{
	    	display: block;
	    	position: absolute;
	    	height: 4px;
	    	width: 13px;
	    	background: #FFF;
	    	animation: maxwidth 4s infinite;
	    	&:nth-of-type(1){			    
			    left: 6%;
			    top: 17%;
			}
			&:nth-of-type(2){
			    left: 6%;
			    top: 28%;
			    animation-delay: 0.05s;
			}
			&:nth-of-type(3){
			    left: 6%;
			    top: 39%;
			    animation-delay: 0.1s;
			}
			&:nth-of-type(4){
			    left: 6%;
			    top: 50%;
			    animation-delay: 0.15s;
			}
			&:nth-of-type(5){
			    left: 6%;
			    top: 60%;
			    animation-delay: 0.2s;
			}
			&:nth-of-type(6){
			    left: 6%;
			    top: 70%;
			    animation-delay: 0.25s;
			}
			&:nth-of-type(7){
			    left: 6%;
			    top: 80%;
			    animation-delay: 0.3s;
			}
			&:nth-of-type(8){
			    width: 60px;
			    height: 6px;
			    left: 57.5%;
			    top: 22%;
			    animation-delay: 0s;
			    @include sp{
			    	width: 45px;
			    }
			}
			&:nth-of-type(9){
			    width: 54px;
			    height: 5px;
			    left: 57.5%;
			    top: 38%;
			    animation-delay: 0.1s;
			    @include sp{
			    	width: 40px;
			    }
			}
			&:nth-of-type(10){
			    width: 40px;
			    height: 4px;
			    left: 57.5%;
			    top: 54%;
			    animation-delay: 0.2s;
			    @include sp{
			    	width: 25px;
			    }
			}
			&:nth-of-type(11){
			    width: 18px;
			    left: 57.5%;
			    top: 70%;
			    animation-delay: 0.3s;
			    @include sp{
			    	width: 12px;
			    }
			}
			&:nth-of-type(12){			    
			    width: 20.5%;
			    height: 36%;
			    border-radius: 50%;
			    top: 36%;
			    left: 26%;
			    background: transparent;
			    animation-name: none;
			    svg{
			    	width: 100%;
			    	height: 100%;
			    	border-radius: 50%;
			    	transform: rotate(-135deg);
			    	circle {
						fill: transparent;
						stroke: rgb(205,75,99);
						stroke-width: 32;
						stroke-dasharray: 75;
						animation: fillup1 4s infinite;
					}
			    }
			}
			&:nth-of-type(13){			    
				width: 30%;
			    height: 55%;
			    border-radius: 50%;
			    top: 28%;
			    left: 21%;
			    background: transparent;
			    animation-name: none;
			    svg{
			    	width: 100%;
			    	height: 100%;
			    	border-radius: 50%;
			    	transform: rotate(-115deg);
			    	position: absolute;
		    		animation: rotate 2s infinite;
			    	circle {			    		
						fill: transparent;
						stroke: rgb(0,211,214);
						stroke-width: 10;
						stroke-dasharray: 15 160;
						stroke-linecap: round;
						animation: fillup2 2s infinite;
					}
			    }
			}
	    }
	}
	&__inner05{
		width: 21%;
	    height: 14%;
	    position: absolute;
	    left: 52.5%;
	    top: 26%;
	    transform: skewY(30deg);
	    span{
	    	display: block;
	    	position: absolute;
	    	border-radius: 5px;
	    	background: rgb(209,221,255);
	    	height: 5px;
	    	animation: fade-news 4s infinite;
	    	&:nth-of-type(1){
	    		top: 0;
	    		left: 0;
	    		width: 50%;
	    		height: 13px;
	    		border-radius: 10px;
	    	}
	    	&:nth-of-type(2){
			    top: 23%;
			    left: 9%;
			    width: 40%;
			    animation-delay: 0.1s;
	    	}
	    	&:nth-of-type(3){
				top: 53%;
			    left: 5%;
			    width: 85%;
			    animation-delay: 0.2s;
	    	}
	    	&:nth-of-type(4){
				top: 73%;
			    left: 17%;
			    width: 73%;
			    animation-delay: 0.3s;
	    	}
	    	&:nth-of-type(5){
				top: 92%;
			    left: 4%;
			    width: 84%;
			    animation-delay: 0.4s;
	    	}
	    }
	}
	&__inner06{
		z-index: 1;
	    width: 12.6%;
	    height: 10%;
	    position: absolute;
	    left: 35.2%;
	    top: 15.5%;
	    transform: skewY(30deg);
	    border-radius: 5px;
	    overflow: hidden;
	    span{
	    	position: absolute;
	    	width: 100%;
	    	height: 100%;
	    	&:nth-of-type(1){
				transform: skewY(-30deg) translate(0px, 8px);
				bottom: 0;
				left: 0;
				z-index: 2;
				img{
					width: 100%;
					height: auto;
				}
	    	}
	    	&:nth-of-type(2){	    		
	    		z-index: -1;
	    		top: 0;
	    		left: 0;
	    		&:before,
	    		&:after{
	    			content: "";
	    			width: 100%;
	    			height: 100%;
	    			background: transparent;
	    			position: absolute;
	    			top: 0;
	    			left: 0;
	    		}
	    		&:before{
	    			animation: moon 4s infinite;
	    		}
	    		&:after{
	    			animation: sun 4s infinite;
	    			animation-delay: 2s;
	    		}
	    	}
	    	&:nth-of-type(3){
				background: #ccc;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				transform: translate(20px,45px) scale(0);
				animation: sun-moon 4s infinite;
				@include sp{
					animation: sun-moon-sp 4s infinite;
				}
	    	}
	    	&:nth-of-type(4){
				background: #ffe600;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				transform: translate(20px,45px) scale(0);
				animation: sun-moon 4s infinite;
				animation-delay: 2s;
				@include sp{
					animation: sun-moon-sp 4s infinite;
				}
	    	}
	    }
	}
	&__inner07,
	&__inner08{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

@keyframes scale {
	0%, 80%, 100%{
		transform: scale(0);
	}
	20%{
		transform: scale(1.1);
	}
	24%,60%{
		transform: scale(1);
	}
}
@keyframes chart {
	0%{
		transform: translateY(0);
	}
	20%,50%{
		transform: translateY(-10px);
	}
	80%, 100%{
		transform: translateY(0);
	}
}
@keyframes fade-ani01 {
	0%,95%,100%{
    	opacity: 0;
	    transform: translate3d(0,8px,0) skewY(30deg);
    }
    25%,75%{
    	opacity: 1;
	    transform: translate3d(0,0,0) skewY(30deg);
    }
}
@keyframes fade-news {
	0%,90%,100%{
    	opacity: 0;
	    transform: translate3d(0,5px,0);
    }
    25%,65%{
    	opacity: 1;
	    transform: translate3d(0,0,0);
    }
}
@keyframes maxheight {
	0%,5%,80%,100%{
    	max-height: 0%;
    }
    30%,55%{
    	max-height: 100%;
    }
}
@keyframes maxwidth {
	0%,5%,70%,100%{
    	max-width: 0%;
    }
    40%,55%{
    	max-width: 100%;
    }
}
@keyframes maxwidth-height {
	0%,20%,80%,100%{
    	max-width: 0%;
    	max-height: 0%;
    }
    50%{
    	max-width: 100%;
    	max-height: 100%;
    }
}
@keyframes fillup1 {
	0%, 10%, 90%, 100% {
		stroke-dasharray: 0 100;
	}
	40%,60%{
		stroke-dasharray: 100 100;
	}
}
@keyframes rotate { 
	100%{
		transform:rotateZ(230deg);
	}
}
@keyframes fillup2 {
	0%,70%{
		stroke-dasharray: 15 160;
	}
	100%{
		stroke-dasharray: 2 160;
	}
}
@keyframes sun-moon {
	0%{
		transform: translate(20px,45px) scale(0);
	}
	25%,50%{
		transform: translate(43px,15px) scale(1);
	}
	75%,100%{
		transform: translate(70px,45px) scale(0);
	}
}
@keyframes sun-moon-sp {
	0%{
		transform: translate(20px,45px) scale(0);
	}
	25%,50%{
		transform: translate(33px,12px) scale(0.8);
	}
	75%,100%{
		transform: translate(70px,45px) scale(0);
	}
}
@keyframes sun {
	0%, 75%,100%{
		background: transparent;
	}
	25%,50%{
		background: rgb(22,200,195);
	}
}
@keyframes moon {
	0%, 75%,100%{
		background: transparent;
	}
	25%,50%{
		background: rgb(43,92,91);
	}
}

/* Animation04
------------------------------------------------------------*/
.c-animation04{
	width: 100%;
	position: relative;
	&__img{
		position: absolute;
		top: 0;
		left: 0;		
		li{
			position: relative;
			top: 0;
			left: 0;
			opacity: 0;
			animation: out 0.8s forwards;
			&:not(:first-child){
				position: absolute;
				top: 0;
				left: 0;
			}			
		}
		&.is-active{
			li{
				animation: in 0.3s forwards;
				&:nth-of-type(2){
					animation-delay: 0.15s;
				}
				&:nth-of-type(3){
					animation-delay: 0.3s;
				}
				&:nth-of-type(4){
					animation-delay: 0.45s;
				}
			}
		}
	}
	&__inner02{
		position: absolute;
		top: 0;
		left: 0;
	}
}

@keyframes in {
    0%{
    	opacity: 0;
	    transform: translate3d(0,8px,0);
    }
    100%{
    	opacity: 1;
	    transform: translate3d(0,0,0);
    }
}
@keyframes out {
    0%{
    	opacity: 1;
	    transform: translate3d(0,0,0);
    }
    100%{
    	opacity: 0;
	    transform: translate3d(0,8px,0);
    }
}