/*------------------------------------------------------------
Top
------------------------------------------------------------*/
.p-top{

}

/*p-top01
------------------------------------------------------------*/
.p-top01{
	margin-bottom: 80px;
	@include sp{
		padding: 0 20px;
    	margin-bottom: 20px;
	}
	&__slider{
		margin-top: 40px;
		overflow: hidden;
		@include sp{
			margin: 40px -20px 0;
		}
	}
}

/*p-top02
------------------------------------------------------------*/
.p-top02{
	overflow: hidden;
	margin-bottom: 60px;
	padding-top: 10px;
	@include sp{
		padding-top: 100px;
		margin-top: -100px;
	}
	&__inner{
		margin-top: 160px;
		@include sp{
			margin-top: 40px;
		}
	}
	&__txt{
		font-size: 1.6rem;
		line-height: 2;
		text-align: center;
		font-weight: 600;
		letter-spacing: .5px;
		margin: 100px 0 0;
		@include sp{
			margin: 40px 0 25px;
			padding: 0 20px;
			font-size: 1.2rem;
			line-height: 1.8;
		}
	}
}

/*p-top03
------------------------------------------------------------*/
.p-top03{
	margin-bottom: 160px;
	@include sp{
		margin-bottom: 60px;
	}
}

/*p-top04
------------------------------------------------------------*/
.p-top04{
	margin-bottom: 150px;
	@include sp{
		margin-bottom: 60px;
	}
}

/*p-top05
------------------------------------------------------------*/
.p-top05{
	padding-top: 10px;
	position: relative;
	overflow: hidden;
	@include sp{
		padding-top: 0;
		overflow: unset;
	}
	&:before{
		content: "";
		position: absolute;
		top: -15%;
		right: -50%;
		background: url("/assets/img/common/contact_bg.svg") no-repeat 0 0;
		background-size: contain;
		width: 100%;
		height: 100%;
		z-index: -1;
		max-width: 1200px;
	}
	&__txt01{
	    font-size: 1.6rem;
	    text-align: center;
	    line-height: 1.8;
	    letter-spacing: 1px;
	    font-weight: 600;
	    margin: 40px 0 60px;
	    @include sp{
			padding: 0 20px;
			font-size: 1.2rem;
			margin: 20px 0 30px;
	    }
	}
	&__box{
		background-color: #fff;
		box-shadow: 20px 20px 30px rgba(45,52,106,.1);
		border-radius: 30px;
		max-width: 800px;
		margin: 0 auto;
		padding: 60px 80px 100px;
		position: relative;
		z-index: 1;
		@include sp{
			padding: 40px 20px;
			border-radius: 10px;
			margin: 0 20px;
		}
		&:after{
			content: "";
			position: absolute;
			bottom: -200px;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			width: 2px;
			height: 250px;
			background: -webkit-gradient(linear,left top,left bottom,from(#00a09b),to(hsla(0,0%,100%,0)));
			background: linear-gradient(180deg,#00a09b,hsla(0,0%,100%,0));
			@include sp{
				bottom: -120px;
				height: 150px;
			}
		}
	}
	&__ttl{
		text-align: center;
		font-size: 1.8rem;
		line-height: 1;
		letter-spacing: .5px;
		margin-bottom: 60px;
		position: relative;
		font-weight: 600;
		&:after{
			content: "";
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			width: 40px;
			height: 2px;
			background: linear-gradient(136.9deg,#00a09b 3.1%,#00b383 95.27%);
		}
	}
	&__txt02{
		li{
			font-size: 1.5em;
		    letter-spacing: 1px;
		    line-height: 1;
		    @include sp{
				font-size: 1.2rem;
				line-height: 1.8;
		    }
		    &:not(:last-child){
				margin-bottom: 30px;
				@include sp{
					margin-bottom: 20px;
				}
			}
		}
	}
}